
.dflow-inspector {
  background-color: whitesmoke;
  border-style: none;
}

#inspector {
  position: absolute;
  float: left;
  width: 200px;
  height: 100%;
}

.dflow-graph {
  background-color: snow;
  border-style: groove;
}

#graph {
  overflow-x: hidden;
  margin-left: 200px;
}

#toolbar {}

#container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

#task-name::before {
  content: "task: "
}

#task-id::before {
  content: "id: "
}

#task-data {
  display: none;
}

#task-data::before {
  content: "data: "
}

#task-data-initialize {
  display: none;
}

#task-data-reset {
  display: none;
}

#task-data-type {
  display: none;
}

