.DS_Store
*~
.*.swp
node_modules
npm-debug.log

# Build
dist/dflow.js

# Jekyll stuff
Gemfile*
docs/_site

# Running dflow cli with no arguments will create this file
graph.json

# Test coverage
coverage
.coveralls.yml
