*~
node_modules
npm-debug.log
Gemfile*
gh-pages/_site

# Running dflow cli with no arguments will create this file
graph.json

# Test coverage
coverage
.coveralls.yml

# src/editor/client/public/.gitignore
# src/editor/client/bower_components/.gitignore
