<!DOCTYPE>
<html lang="en">
   <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="dflow editor v<%= version %>">

    <title>dflow editor</title>

    <script src="/socket.io/socket.io.js"></script>

    <script src="/edit.js"></script>
  </head>
  <body>
    <div id="toolbar">
      <em>dflow v<%= version %>,</em>
      <strong>editing graph:</strong><%= graphPath %>
      <a href="/graph">Download</a>
      <a href="/run" target="_blank">Run</a>
    </div>
    <div id="container">
      <div id="inspector" class="dflow-inspector">
      <p id="task-name">None selected</p>
      <p id="task-id">null</p>
      <p id="task-data">null</p>
      </div>
      <div id="graph" class="dflow-graph"></div>
      </div>
  </body>
</html>
