doctype
html(lang='en')
   head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' content='dflow editor')

    title dflow editor

    script(src='/socket.io/socket.io.js')

    script(src='jquery/dist/jquery.min.js')

    script(src='/bundle.js')

    link(rel='stylesheet' type='text/css' href='semantic/dist/semantic.min.css')
    script(src='semantic/dist/semantic.min.js')

    link(rel='stylesheet' type='text/css' href='jsoneditor/dist/jsoneditor.min.css')
    link(rel='stylesheet' type='text/css' href='jsoneditor/examples/css/darktheme.css')
    script(src='jsoneditor/dist/jsoneditor.min.js')

    style.
      #graph {
        overflow: hidden;
        margin-top: 3em;
        height: 800px;
      }

      #json-editor {
        overflow: hidden;
        margin-top: 3em;
        height: 800px;
      }
  body
    #data-sidebar.ui.sidebar
      #json-editor
    .pusher
      .ui.fixed.inverted.menu
        a#toggle-json-editor.item.left.ignored
          i.database.icon
        .ui.container
          a.header.item(href='//g14n.info/dflow' _target='_blank') dflow
          a.item(href='/download') Download
          a.item(href='/run' target='_blank') Run
          a.item(href='https://github.com/fibo/dflow' target='_blank')
            i.github.icon
      .ui.grid
        #graph.sixteen.wide.column
      #inspector.ui.modal
        i.close.icon
        .header Task inspector
        .description
        .ui.header
          #task-name.ui.label
        p Edit task (sorry, still in progress ... :)
        .actions
          .ui.positive.right.labeled.icon.button Save
            i.checkmark.icon
      #users-count
