<!DOCTYPE>
<html lang="en">
   <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="dflow editor v<%= version %>">

    <title>dflow editor</title>

    <script src="/socket.io/socket.io.js"></script>

    <script src="/bundle.js"></script>
  </head>
  <body>
    <div id="flow"></div>
  </body>
</html>
