<!DOCTYPE>
<html>
  <head>
    <script src="/socket.io/socket.io.js"></script>
  </head>

  <body>
    <h1>dflow editor v<%= version %></h1>
    <h2>Editing graph <%= graphPath %></h2>

    <div id="flow"></div>

    <script type="text/javascript" src="/dflow-editor.js"></script>
  </body>
</html>
