<!DOCTYPE>
<html>
  <head>
  </head>

  <body>
    <h1>dflow edit</h1>
    <h2><%= graphPath %></h2>

    <div id="flow"></div>

    <script type="text/javascript" src="/dflow-editor.js"></script>
  </body>
</html>
