extends layout

block content
  #dflow-graph
    // TODO prova a disegnare nel canvas
    canvas(id='dflow-canvas', width='100%', height='100%')

    #dflow-cursor(class='dflow-node', draggable='true')
      #dflow-add-graph(class='dflow-cursor-choice') G
      #dflow-add-node(class='dflow-cursor-choice') N
      #dflow-add-out(class='dflow-cursor-choice') O
      #dflow-add-in(class='dflow-cursor-choice') I

