extends layout

block content
  #dflow-graph
    canvas(id='dflow-canvas', width='100%', height='100%')

    #node1(class='dflow-node', draggable='true')

    #dflow-cursor(class='dflow-node', draggable='true')
      #dflow-add-graph(class='dflow-cursor-choice') G
      #dflow-add-node(class='dflow-cursor-choice') N
      #dflow-add-out(class='dflow-cursor-choice') O
      #dflow-add-in(class='dflow-cursor-choice') I

  script
    // TODO vedi http://www.diffusedreality.com/content.html

    var dflowCursor = document.getElementById('dflow-cursor');

    var toggleDiv = function (div) {
      if (div.style.display == 'inline') {
        div.style.display = 'none';
      }
      else if (div.style.display == 'none') {
        div.style.display = 'inline';
      }
      else if (div.style.display == '') {
        div.style.display = 'inline';
      }
    }

    var dflowGraph = document.getElementById('dflow-graph');

    dflowCursor.addEventListener('click', function (event) {
      event.stopPropagation();
      console.log('click cursor');
    });

    dflowGraph.addEventListener('click', function () {
      console.log('click graph');
      toggleDiv(dflowCursor);
    });

    // TODO vedi http://jsbin.com/uzovu/1357
    var dragItems = document.querySelectorAll('[draggable=true]');

    function getPosition(obj){
      var topValue= 0;
      var leftValue= 0;
      while(obj){
    leftValue+= obj.offsetLeft;
    topValue+= obj.offsetTop;
    obj= obj.offsetParent;
    }
    finalvalue = [leftValue , topValue];
    return finalvalue;
    }

    var logEvent = function (event) { console.log(event); }
    var cancel = function (event) {
      event.preventDefault();
      return false;
    }

    for (var i = 0; i < dragItems.length; i++) {
      var dragItem = dragItems[i];
      dragItem.addEventListener('dragstart', function (event) {
        event.dataTransfer.setData('divId', this.id);
      });
      dragItem.addEventListener('dragend', cancel);
    }

    var dflowGraph = document.getElementById('dflow-graph');
    dflowGraph.addEventListener('dragenter', cancel);
    dflowGraph.addEventListener('dragover', cancel);
    dflowGraph.addEventListener('drop', function (event) {
      event.preventDefault();
      //console.log(event);
      var divId = event.dataTransfer.getData('divId');
      var div = document.getElementById(divId);
      console.log(getPosition(dflowGraph));
      //console.log(event.pageX);
      //console.log(event.pageY);
      var p = getPosition(dflowGraph);
      var x = event.pageX-p[0];
      var y = event.pageY-p[0];
      div.style.left = x+'px';
      div.style.top = y+'px';
      // mi dice la posizione precedente
      //console.log(getPosition(div));
      var dflowGraph = document.getElementById('dflow-graph');
    });

