
body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#dflow-canvas {
  position: relative;
  left: 0;
  top: 0;
/*  height: 100%;
  width: 100%; */
  z-index: -1;
}

.dflow-cursor-choice {
  margin: 0;
  padding; 0;
  position: absolute;
  height: 24px;
  width: 24px;
  border:1px solid #aaaaaa;
  z-index: 0;
}

#dflow-add-graph {
  left: 0;
  top: 0;
}

#dflow-add-node {
  left: 25px;
  top: 0;
}

#dflow-add-in {
  left: 0px;
  top: 25px;
}

#dflow-add-out {
  left: 25px;
  top: 25px;
}

.dflow-node {
  position: absolute;
  margin: 0;
  padding; 0;
  border:1px solid #aaaaaa;
  z-index: 0;
}

#dflow-cursor {
  display: inline;
  margin: 0;
  padding; 0;
  position: absolute;
  height: 50px;
  width: 50px;
  /* border:1px solid #aaaaaa; */
  border: 0;
  z-index: 0;
}

#dflow-graph {
  top: 100px;
  left: 0;
  margin: 0;
  padding; 0;
  position: absolute;
  border:1px solid #aaaaaa;
  height: 50%;
  width: 100%;
}

