body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#dflow-canvas {
  position: relative;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.dflow-cursor-choice {
  margin: 2px;
  padding; 2px;
  position: absolute;
  height: 42px;
  width: 42px;
  border:1px solid #aaaaaa;
  z-index: 0;
}

#dflow-add-graph {
  left: 0;
  top: 0;
}

#dflow-add-node {
  left: 50px;
  top: 0;
}

#dflow-add-in {
  left: 0px;
  top: 50px;
}

#dflow-add-out {
  left: 50px;
  top: 50px;
}

.dflow-node {
  top: 10px;
  left: 10px;
  margin: 0;
  padding; 0;
  position: absolute;
  height: 50px;
  width: 100px;
  border:1px solid #aaaaaa;
  z-index: 0;
}

#dflow-cursor {
  display: inline;
  top: 100px;
  left: 100px;
  margin: 0;
  padding; 0;
  position: absolute;
  height: 100px;
  width: 100px;
  /* border:1px solid #aaaaaa; */
  border: 0;
  z-index: 0;
}

#dflow-graph {
  top: 0;
  left: 0;
  margin: 0;
  padding; 0;
  position: relative;
  border:1px solid #aaaaaa;
  height: 100%;
  width: 100%;
}

