body {
  background: #fdfdfd; }

nav {
  margin: 0;
  padding: 0; }
  nav ul {
    list-style-type: none; }
    nav ul li {
      float: left; }

.dflow-console {
  height: 2em; }

.dflow-root {
  height: 80vh;
  width: 100%; }
