<svg class=anathema>
  <circle cx=0 cy=-50 r=0>
    <animate attributeType=XML attributeName=r fill=freeze dur=1s from=0 to=170 />
  </circle>

  <circle cx=0 cy=290 r=0>
    <animate attributeType=XML attributeName=r fill=freeze dur=1s from=0 to=170 />
  </circle>

  <circle cx=170 cy=120 r=0>
    <animate attributeType=XML attributeName=r fill=freeze dur=1s from=0 to=70 />
  </circle>

  <circle cx=82 cy=120 r=0>
    <animate id=a0 attributeType=XML attributeName=r fill=freeze dur=1s begin=1s from=0 to=18 />
  </circle>

  <circle cx=55 cy=120 r=0>
    <animate attributeType=XML attributeName=r fill=freeze dur=1s begin=a0.end from=0 to=8.5>
  </circle>

  <circle cx=95.8 cy=99 r=0>
    <animate attributeType=XML attributeName=r fill=freeze dur=1s begin=a0.end from=0 to=6.3 />
  </circle>

  <circle cx=95.8 cy=141 r=0>
    <animate id=a1 attributeType=XML attributeName=r fill=freeze dur=1s begin=a0.end from=0 to=6.3 />
  </circle>

  <circle cx=86.6 cy=140.3 r=0>
    <animate id=a2 attributeType=XML attributeName=r fill=freeze dur=1s begin=a1.end from=0 to=2.3 />
  </circle>

  <circle cx=102.2 cy=149 r=0>
    <animate id=a3 attributeType=XML attributeName=r fill=freeze dur=1s begin=a2.end from=0 to=3.6 />
  </circle>

  <circle cx=98.4 cy=132.4 r=0>
    <animate attributeType=XML attributeName=r fill=freeze dur=1s begin=a3.end from=0 to=2.5 />
  </circle>
</svg>
