$padding-top: 14px;
$padding-right: 16px;

nav {
  background-color: $transparent-black;
  height: 3em;

  ul {
    list-style-type: none;

    li {
      color: $white;
      display: inline-block;
      float: left;
      padding: $padding-top $padding-right;
      text-align: center;
      transition: .3s;

      a {
        color: $white;
        text-decoration: none;
      }
    }
  }
}

