$padding-top: 14px;
$padding-right: 16px;

nav {
  background-color: $transparent-black;
  color: $white;
  height: 3em;

  ul {
    list-style-type: none;

    li {
      display: inline-block;
      float: left;
      padding: $padding-top $padding-right;
      transition: .3s;

      a {
        color: $white;
        padding: 5px;
        text-align: center;
        text-decoration: none;
      }

      button {
        background-color: $black;
        color: $white;
        padding: 2px 8px;
        text-align: center;
        text-decoration: none;
      }

      form {
        label {
          color: $white;
          padding: 5px;
        }
      }
    }

    ul {
      display: none;
    }
  }

  li:hover ul {
    background-color: $transparent-black;
    display: block;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    z-index: 1000;


    li {
      clear: left;
      float: left;
    }
  }
}
