<!DOCTYPE html>
{% if site.lang %}
  <html lang="{{ site.lang }}">
{% else %}
  <html lang="en">
{% endif %}
<head>
  {% include common/meta.html %}
  {% include common/favicon.html %}
  {% include common/cookieconsent.html %}
  {% include common/style.html %}
</head>
<body>
  {% include common/nav.html %}

  <main>
    <h1>{{ page.title }}</h1>
    <blockquote>{{ page.description }}</blockquote>

    {{ content }}

    <div id="example-graph"
         class="dflow-graph"
         style="height: {{ page.graph.height }}px;"
    ></div>
  </main>

  <script type="text/javascript" src="../js/examples-renderer.js"></script>
  <script type="text/javascript">
    require('examples-renderer')('example-graph', '{{ page.graph.name }}')
  </script>

  {% include common/footer.html %}
  {% include common/analytics.html %}
  {% include common/js-bundle.html %}
</body>
